

<!doctype html>
<html lang="en">
  <head>
  	<title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/font-fontawesome-free-6.2.0-web/css/font-awesome.min.css">


	</head>
	
	<body class="h">
	

       <p class="my_title"><b> World Data Hub </b></p> 

        <div class="container">
            <div class="row">

              <div class="col-sm">
                <div (click)="go_phone()" class="div_phone">
                    <br>
                   <b> <p class="titer"><i> <span class="fa fa-phone"></span> </i></p> </b>
                    <br>
                </div>

                    <div class="hide_phone">
                        <br><br><br><br>
                        <p class="text" >VALID NUMBER</p>
                        <p class="text">NUMBER TYPE</p>
                        <p class="text">CARRIER</p>
                        <p class="text">INTERNATIONAL FORMAT</p>
                        <p class="text">LOCATION</p>
                        <br>
                    </div>
              </div>
              <div class="col-sm">
                <div (click)="go_date()" class="div_date">
                    <br>
                <b> <p class="titer"><i> <span class="fa fa-snowflake-o"></span> </i></p> </b>
                    <br>
                </div>

                    <div class="hide_date">
                        <br><br><br><br><br>
                        <p class="text" >DATE</p>
                        <p class="text">TIME</p>
                        <p class="text">TEMP</p>
                        <p class="text">WIND SPEED</p>
                        <br>
                    </div>
                </div>

              <div class="col-sm">
                <div (click)="go_info()" class="div_info">
                    <br>
                <b> <p class="titer"><i> <span class="fa fa-globe"></span> </i></p> </b>
                    <br>
                </div>

                    <div class="hide_info">
                        <br><br><br><br>
                        <p class="text" >SURFACE</p>
                        <p class="text">REGION</p>
                        <p class="text">CURRENCY</p>
                        <p class="text">POPULATION</p>
                        <p class="text">UNEMPLOYMENT</p>
                        <p class="text">TOURISTS</p>
                        <br>
                    </div>
                </div>


            </div>
          </div>



	</body>
</html>

